.UpperBody,
.LowerBody {
    padding: var(--page-padding);
}

.CounterContainer {
    display: flex;
    justify-content: center;
}

.DisplayNone {
    display: none;
}

#Home #HomeHighlight {
    background: #F17120;
    border-radius: 33px;
    color: #FFFFFF;
}

@media screen and (min-width: 1280px) {
    .HeroTabContainer {
        padding: var(--sectioning-gap);
        padding-bottom: 0;
    }
}
